<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Book info</title>
</head>
<body>
<div th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}"/>
<br/>
<div th:switch="${book.getPersonId()}">
    <div th:case="null">
        <p>This book is completely free!</p>
        <form th:method="PATCH" th:action="@{/books/attach/{id}(id=${book.getId()})}">
            <label for="bookLabel">Choose a person to give him a book: </label>
            <select th:object="${book}" th:field="*{personId.id}" id="bookLabel">
                <option th:each="person: ${people}" th:value="${person.id}" th:text="${person.getName()}">VALUE</option>
            </select>
            <input type="submit" value="Take a book to that person!"/>
        </form>
    </div>
    <div th:case="*">
        <p>This book is taken by <span th:text="${book.getPersonId().getName()}">VALUE</span></p>
        <form th:method="PATCH" th:action="@{/books/release/{id}(id=${book.getId()})}" th:object="${book}">
            <input type="submit" value="Release that book from that person">
        </form>
    </div>
</div>
<br/>
<hr/>
<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}" th:object="${book}">
    <input type="submit" value="Edit this book!">
</form>
<br/>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete this book!">
</form>
</body>
</html>